amqp==5.3.1
asgiref==3.8.1
babel==2.17.0
billiard==4.2.1
bleach==6.2.0
celery==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dj-database-url==2.3.0
Django==4.2.19
django-extra-views==0.14.0
django-haystack==3.3.0
django-oscar==3.2.5
django-oscar-stripe-sca==0.8
django-phonenumber-field==6.4.0
django-post-office==3.9.1
django-tables2==2.3.4
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
factory-boy==3.2.1
Faker==36.1.1
gunicorn==23.0.0
idna==3.10
kombu==5.5.3
packaging==24.2
phonenumbers==8.13.55
pillow==11.1.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
purl==1.6
pycountry==24.6.1
pysolr==3.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
sorl-thumbnail==12.9.0
sqlparse==0.5.3
stripe==12.1.0
tinycss2==1.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==6.9.0
Whoosh==2.7.4
