@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*@import url(https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css);*/



body { 
    margin:0;
    padding:0;
    /*font-family:Comic Sans MS, Comic Sans, cursive !important;/*Copperplate,helvetica, sans-serif;*/
    font-family:Comic Sans MS, Comic Sans !important; 
    color: #8b4513;
}


/*h1 {
	    font-family: 'Ubuntu', sans-serif;
    float:left;
    font-size:52px;
    margin-right:10%;
    color: #8b4513; 
} */
/*h2, h3, h4, h5 , h6 { 
    font-family: Chalkduster, fantasy; font-weight:bold;color: #8b4513;
}*/

p, a, h1,h2, h3, h4, h5 , h6  {
	color: #8b4513;
	font-family: Comic Sans MS, Comic Sans !important;/*Copperplate;*/
}

b,
strong {
  color: #8b4513;
  font-weight: bolder;
  font-family: Comic Sans MS, Comic Sans !important;
}


a.thick {
  font-weight: bold;
}

a.em{    
	font-style: italic;}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:20px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}


#header {
    padding:10px 100px;
    font-size:20px;
    overflow:auto;
}

#subheader {
    /*background: #ffd790;/*#ececec;*/
    /*background-image: url("logo3");*/
    /*color:#444;*/
    padding:15px 100px;
    overflow:auto;
}

 .logo {
 font-family: Chalkduster, fantasy !important;/*Copperplate;fantasy;*/
 float:left;
 font-size:40px;/*72px;*/
 color: /*rgb(153, 100, 150);*/darkorange;/*yellow;*/
 width: 100%;/*1150px;*/ 
 height:100%;/*250px;*/    
 background-image: url("jezioro.jpg");
 margin: 0;
 background-size: /*1300px 1500px;*/cover;/*contain;*/
 background-position: center; 
}

.fit-picture {
    width: 75px;/*100px;*/
}

.bottom-picture{
	width: 1550px; 
	height: 550px;		
   margin: 0;
}



#subheader .cart {
    float:left;/*right;*/
    padding-top:1px; /*4px;*/
}

#subheader .mainMenu {
    font-family: fantasy;
    	  font-size:25px;/*22px;*/
	    display: flex;
justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;	
  background: #ffd790;   
   
}

/*#subheader mainMenu a {
  font-family: fantasy;	
  font-size:30px;
	 flex-grow: 1;
  border: #ffd790; 
	}*/

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
    background: #ffd790;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

/*#sidebar {
	
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), 
  url("/static/img/ul1.jpg"");	 
  background-size: 
}*/

#sidebar img {
	width: 100%;/*270px;*/ 
	height: 100%;/*470px;*/
    /*margin-right:5%;*/
}


#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:180px;/*width:100%;*/
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}	
.middle {
  grid-column: 2 / 5;
  grid-row: 1 /* 2 / 4;*/
}
.left { 
  grid-column: 1; /*  grid-column: 1 / 2;*/
  grid-row:1/4;
}
.right {
  grid-column: 5;
  grid-row: 1/4;
}
 .special {
  width: 370px;
  height: 570px;
   float:left;
}

