{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            
    <link href="{% static "main.css" %}" rel="stylesheet">      
 </head>


<body>

<div class="container-fluid">
<!-- 1. row -->
<div class="row">                        
        <a href="/" class="logo"> Pasieka nad Jeziorem  </a>                                        
    </div>
    
<!-- 2. row -->    
<div class="row">

    <div class="col-xs-6 col-sm-4 col-lg-2">          <!-- "col-sm-3">-->  
  <!--     <div class="col">-->

      
</div> <!-- col -->

  <div class="col-xs-6 col-sm-8 col-lg-10">   <!--   "col-sm-9">--> 
  
   
   </div><!-- col -->
   
   </div><!-- row -->
  
  <!-- 3. row --> 
   <div class="row"> 
         <img class="bottom-picture" src="{% static "ule.jpg" %}">       
   </div>
   
  
   
   </div><!-- container -->
    
   
   
</body>


<!-- <body>
    <h2>Wyślij wiadomość do 'kontakt@pasiekanadjeziorem.pl':</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
		{{ form.as_table }}
        <button type="submit">Wyślij</button>
    </form>
</body>
 -->

</html>

<!-- <body> -->

<!-- <h2>Wyślij wiadomość do 'kontakt@pasiekanadjeziorem.pl':</h2> -->

<!-- <form action="Wyślij wiadomość do: kontakt@pasiekanadjeziorem.pl" method="post" enctype="text/plain"> -->
<!-- Imię:<br> -->
<!-- <input type="text" name="name"><br> -->
<!-- E-mail:<br> -->
<!-- <input type="text" name="mail"><br> -->
<!-- Wiadomość:<br> -->
<!-- <input type="text" name="comment" size="50"><br><br> -->
<!-- <input type="submit" value="Wyślij"> -->
<!-- <input type="reset" value="Reset"> -->
<!-- </form> -->

<!-- </body> -->
