{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            
    <link href="{% static "main.css" %}" rel="stylesheet">      
 </head>


<body>

<div class="container p-3 my-3 border">
        <a href="/" class="logo"> Pasieka nad Jeziorem  </a>                                        
 </div>
 
    
 <div class="container p-3 my-3 border"> 
  <p><a href='/' class='thick'> 'Pasieka nad Jeziorem'</a>  to rodzinne gospodarstwo, które powstało z miłości do pszczół i natury. Oficjalnie działa od 2020n r. Nasza przygoda z pszczelarstwem zaczęła się od pasji, a dziś stała się także sposobem na życie – spokojnym, pełnym harmonii i związanym z cyklem przyrody.</p>
  <p> Pasieka zlokalizowana jest w otulinie <a href='/' class='thick'>Drawskiego Parku Krajobrazowego</a>, bezpośrednio nad jeziorem Kaleńskim.</p> 
  <p>Nasze ule usytuowane są pod lasem, czego wypadkową są miody spadziowe, w szczególności spadź liściasta - w lesie przeważają buki oraz dęby.
Ule stoją w wyjątkowym miejscu – tuż nad jeziorem, otoczone lasami i łąkami. Dzięki temu pszczoły mają dostęp do czystych, różnorodnych pożytków, co przekłada się na smak i wartości odżywcze naszego miodu. Każdy słoik to efekt pracy tysięcy pszczół oraz troski, z jaką prowadzimy pasiekę.
  Oprócz tego sąsiaduja z nami pola rzepaku. Dodatkowo, często sami wysiewamy pożytki, np. facelię, gorczycę. </p>
  <p>Wybierając <a href='/' class='thick'>Pasiekę nad Jeziorem</a>, wybierasz nie tylko miód – wybierasz zdrowie, naturę i autentyczność. Nasze pszczoły pracują w czystym, malowniczym otoczeniu jeziora i lasów, z dala od zanieczyszczeń. Dzięki temu każdy słoik miodu ma niepowtarzalny smak i aromat, którego nie znajdziesz w produktach sklepowych.</p>
<p>Stawiamy na jakość, tradycję i uczciwość – sprzedajemy to, co sami jemy i czym karmimy naszych bliskich. Kupując u nas, wspierasz lokalną, rodzinną pasiekę i pomagasz chronić pszczoły, które są fundamentem życia na ziemi.</p>
 </div>

      
   
    <div class="container p-3 my-3 border w-25 h-25">
         <!-- <img class="bottom-picture" src="{% static "ule.jpg" %}">  -->
         <img src="{% static "ule.jpg" %}" alt="ule" style="width: 100%; height: 100%; object-fit: cover;">     
   </div>
   
   
</body>
