{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            
    <link href="{% static "main.css" %}" rel="stylesheet">      
 </head>


<body>

<div class="container p-3 my-3 border">
        <a href="/" class="logo"> Pasieka nad Jeziorem  </a>                                        
 </div>
 
    
 <div class="container p-3 my-3 border"> 
  <p><a href='/' class='thick'> 'Pasieka nad Jeziorem'</a>  działa od 2020n r.</p>
  <p> Zlokalizowana jest w otulinie Drawskiego Parku Krajobrazowego, bezpośrednio nad jeziorem Kaleńskim.</p> 
  <p>Nasze ule usytuowane są pod lasem, czego wypadkową są miody spadziowe, w szczególności spadź liściasta - w lesie przeważają buki oraz dęby.</p>
  <p>Oprócz tego sąsiaduja z nami pola rzepaku. Dodatkowo, często sami wysiewamy pożytki, np. facelię. </p>
 </div>

      
   
    <div class="container p-3 my-3 border">
         <!-- <img class="bottom-picture" src="{% static "ule.jpg" %}">  -->
         <img src="{% static "ule.jpg" %}" alt="ule" class="img-fluid">     
   </div>
   
   
</body>
