{% load static %}
<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>

<head>
    <meta charset="utf-8" />
    
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       

     <link href="{% static "galeria.css" %}" rel="stylesheet">  
<!--     <link href="{% static "main.css" %}" rel="stylesheet"> -->     
 </head>

<body>


<div class="scroll-container">
  <img class="fit-picture" src="{% static "z1.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z2.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z3.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z4.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z5.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z6.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z7.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z8.jpg" %}" alt="">
 <!-- <img class="fit-picture" src="{% static "z9.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z10.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z11.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z12.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z13.jpg" %}" alt="">      
  <img class="fit-picture1" src="{% static "z14.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z15.jpg" %}" alt="">  
 <img class="fit-picture" src="{% static "z16.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z17.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z18.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z19.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z20.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z21.jpg" %}" alt="">      
  <img class="fit-picture1" src="{% static "z22.jpg" %}" alt="">  
  <img class="fit-picture1" src="{% static "z23.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z24.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z25.jpg" %}" alt="">      
  <img class="fit-picture" src="{% static "z26.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z27.jpg" %}" alt="">  
<img class="fit-picture1" src="{% static "z28.jpg" %}" alt="">
  <img class="fit-picture1" src="{% static "z29.jpg" %}" alt="">      
  <img class="fit-picture1" src="{% static "z30.jpg" %}" alt="">  
  <img class="fit-picture1" src="{% static "z31.jpg" %}" alt="">  
  <img class="fit-picture1" src="{% static "z32.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z33.jpg" %}" alt="">      
  <img class="fit-picture" src="{% static "z34.jpg" %}" alt="">  
  <img class="fit-picture1" src="{% static "z35.jpg" %}" alt="">
  <img class="fit-picture" src="{% static "z36.jpg" %}" alt="">      
  <img class="fit-picture" src="{% static "z37.jpg" %}" alt="">  
  <img class="fit-picture" src="{% static "z38.jpg" %}" alt="">   -->ś        

</div>

</body>
</html>